<div id="social-container" class="page-container">
    <div id="social-links-container">
        <a href="https://www.linkedin.com/in/thomas-praeger-404201156/" id="linkedin" class="social-link" target="_blank">
            <div class="social-content">
                <img src="../images/In-White-28px-R.png">
                <p class="social-text">LinkedIn</p>
            </div>
        </a
        ><a href="https://github.com/tommypraeger" id="github" class="social-link" target="_blank">
            <div class="social-content">
                <img src="../images/GitHub-Mark-Light-120px-plus.png">
                <p class="social-text">GitHub</p>
            </div>
        </a
        ><a href="https://www.facebook.com/tommy.praeger" id="facebook" class="social-link" target="_blank">
            <div class="social-content">
                <img src="../images/flogo-HexRBG-Wht-72.svg">
                <p class="social-text">Facebook</p>
            </div>
        </a
        ><a href="https://twitter.com/TommyPraeger" id="twitter" class="social-link" target="_blank">
            <div class="social-content">
                <img src="../images/Twitter_Social_Icon_Square_White.png">
                <p class="social-text">Twitter</p>
            </div>
        </a>
    </div>
</div>