$color-light: #f7f7f7 !default;
$color-light-secondary: white!default;
$color-light-tertiary: #e2e2e2!default;
$color-light-blue: #cdddf7 !default;

$color-dark: #282828 !default;
$color-dark-secondary: #1e1e1e !default;
$color-dark-tertiary: #4c4c4c !default;
$color-blue: #3064b5 !default;